<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="static/style/base.css" type="text/css">
		<link rel="stylesheet" href="static/bootstrap-3.3.2-dist/css/bootstrap.min.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="static/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
		<script src="static/js/script.js"></script>
        <title>Angular - Marcin Sywala</title>
    </head>
    <body ng-app="myApp">
		<div class="container" ng-controller="myCtrl">
			<div class="row">
				<div class="col-xs-9">
					<h1 class="text-center">Now Playing</h1>
				</div>
				<div class="col-sm-3">
					<input class="form-control search" placeholder="Search" ng-model="searchText" />
				</div>
			</div>
			<div class="row sort">
				<div class="col-sm-2">Sort by:</div>
				<div class="col-sm-2"><a href="" ng-click="predicate=''">None</a></div>
				<div class="col-sm-2"><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></div>
				<div class="col-sm-2"><a href="" ng-click="predicate = 'release_date'; reverse=!reverse">Release date</a></div>
				<div class="col-sm-2"><a href="" ng-click="predicate = 'vote_average'; reverse=!reverse">Vote aveage</a></div>
				<div class="col-sm-2"><a href="" ng-click="predicate = 'vote_count'; reverse=!reverse">Vote count</a></div>
			</div>
			<div class="row posts" ng-animate="'animate'" ng-repeat="item in data.results | filter: {title: searchText} | orderBy:predicate:reverse">
				<div class="row">
					<div class="col-sm-6" ng-if="item.backdrop_path != null">
						<img class="img-responsive post-image" src="https://image.tmdb.org/t/p/w500/{{item.backdrop_path}}" />
					</div>
					<div class="col-lg-6" ng-if="item.backdrop_path == null">
						<img class="img-responsive post-image" src="static/images/nonAvailable.jpg" />
					</div>	
					<div class="col-sm-6">
						<h2>{{item.title}}</h2>
						<dl class="">
							<dt>Release date</dt>
							<dd>{{item.release_date}}</dd>
							<dt>Vote average</dt>
							<dd>{{item.vote_average}}</dd>
							<dt>Vote count</dt>
							<dd>{{item.vote_count}}</dd>	
						</dl>
						
						<p class="text-right">						
							<button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#myModal" ng-click="fillIdInModal(item.id)">
								Add comment
							</button>
							<button class="btn btn-xs btn-default" type="button" data-toggle="collapse" data-target="#comments-{{item.id}}" aria-expanded="false" aria-controls="comments-{{item.id}}">
								Show / hide comments
							</button>						
						</p>					
					</div>
				</div>
			
				<div class="collapse comments" id="comments-{{item.id}}">
					<h3>Comments</h3>
					<div class="row" ng-repeat="comment in comments | filter: {id: item.id}">
						<div class="col-sm-11">
							<dl class="dl-horizontal">
								<dt>{{comment.author}}</dt>
								<dd>{{comment.text}}</dd>	
							</dl>
						</div>
						<div class="col-sm-1">
							<button type="button" class="close" aria-label="Close" ng-if="auth" ng-click="deleteComment(comment.$id)"><span aria-hidden="true">&times;</span></button>
						</div>
					</div>
				</div>
				
			</div>
			
			
			
			
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add comment</h4>
      </div>
      <div class="modal-body">
	<form>
		<input class="hidden" type="text" id="id" ng-model="comment.id">
		<div class="form-group">
			<label for="author">Author</label>
			<input type="text" class="form-control" id="author" placeholder="Author" ng-model="comment.author">
		</div>
		<div class="form-group">
			<label for="text">Text</label>
			<textarea class="form-control" id="text" placeholder="Text" rows="3"> ng-model="comment.text"></textarea>
		</div>
	</form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="initialCommentModel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addComment(user)">Add</button>
      </div>
    </div>
  </div>
</div>			
			
			
		</div>		
    </body>
</html>
